- if current_user && current_user.workspaces.include?(@workspace)
  .row
    .small-12.columns
      = link_to 'Edit Workspace', edit_workspace_path(@workspace)
      |
      = link_to 'Delete Workspace', workspace_path(@workspace), method: :delete, data: {confirm: 'Are you sure?'}
.row
  .small-12.columns
    %h3
      Workspace: #{@workspace.title}
.row
  .small-12.columns
    Company: #{@workspace.company}
.row
  .small-12.columns
    Location: #{@workspace.location}
.row
  .small-12.columns
    %h4
      Workspace Images
- if current_user && current_user.workspaces.include?(@workspace)
  .row
    .small-12.columns
      = link_to 'Add new Image to Workspace', new_workspace_workspace_image_path(@workspace)
- if @workspace.workspace_images.any?
  .row
    .small-12.columns
      - @workspace.workspace_images.each do |workspace_image|
        .row
          .small-10.columns
            = image_tag workspace_image.image.url(:square)
          - if current_user && current_user.workspaces.include?(@workspace)
            .small-2.columns
              = link_to 'Delete Image', workspace_workspace_image_path(@workspace, workspace_image), method: :delete, data: {confirm: 'Are you sure?'}