!!!
%html
  %head
    %title Workspaces
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %h1
      Workspaces
    - if current_user
      Hello, #{current_user.screen_name}
      |
      = link_to 'Sign out', destroy_user_session_path
    - else
      = link_to 'Sign in with Twitter', user_omniauth_authorize_path('twitter')
    %p.notice
      = notice
    %p.alert
      = alert
    = yield