!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Workspaces"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    .row
      .small-12.columns
        %h1
          Workspaces
    .row
      .small-12.columns
        - if current_user
          Hello, #{current_user.screen_name}
          |
          = link_to 'New Workspace', new_workspace_path
          |
          = link_to 'Sign out', destroy_user_session_path
        - else
          = link_to 'Sign in with Twitter', user_omniauth_authorize_path('twitter')
    .row
      .small-12.columns
        %p.notice
          = notice
        %p.alert
          = display_errors(alert)
    = yield
    = javascript_include_tag "application"
